html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body{
    background-color: #fafafa;
}

nav{
    height: 70px;
    width: 100%;
    background-color: #ec7d00;
    color: white;
    text-align: center;
    font-weight: bolder;
    font-size: 35px;
    line-height: 70px;
}

.bloco{
    padding: 35px;
    border-left: 1px solid #EEE;
    border-right: 1px solid #EEE;
}


.layer{
    width: 100%;
    height: 500px;
    overflow: hidden;
}

.up-layer-graph{
    margin-top: -500px;
    background: linear-gradient(to bottom right, #48a1afaa, #232423aa);
}


.centro{
    width: 920px;
    margin: auto;
}

.zona-util{
    background: linear-gradient(to right, transparent , black);
    position: absolute;
    width: 300px;
    height: 478px;
    margin-top: -483px;
    margin-left: 550px;
    border-right: 11px solid #ec7d00;
}


.graph{
    height: 170px;
    width: 220px;
    float: right;
    margin-top: 135px;
    margin-right: -3px;
    overflow: hidden;
}